<% @page_title = "Alumni Survey | Admin Page" -%>
<div class = "Admin_Page">
	<h2 class='User_Header'>Welcome <%= @current_user.username%>!!!</h2>
	<p>
		List of all users
	</p>
	<table>
		<tr>
			<td>Username</td>
			<td>Email</td>
			<td>Consent Decision</td>
			<td>Current Page</td>
			<td>Date created</td>
			<td>Is Admin?</td>
			<td>Excel</td>
			<td>Delete</td>
		</tr>
		<% @users.each do | user | %>
		<tr>
			<td><%= user.username %></td>
			<td><%= user.email %></td>
			<td><%= user.accepted %></td>
			<td><%= user.current_page %></td>
			<td><%= user.created_at %></td>
			<td><%= user.is_admin %></td>
			<td><%= link_to "Excel", download_xls_path( format: "xls", :id => user.id)  %></td>
			<%= if user.is_admin %>
			<td><%= link_to "Delete" , delete_path(:id => user.id) ,  data: { confirm: "Are you sure?" }%></td>
			<%=end%>
		</tr>
		<% end %>
	</table>
</div>