<% @page_title = "Alumni Survey | Admin Page" -%>
<style type="text/css">
	table {
		border: 1px solid black;
		border-collapse: collapse;
	}
	td {
		border: 1px solid black;
		text-align: center;
		width: 200px;
	}
	th {
		border: 1px solid black;
		text-align: center;
		text-decoration: underline;
		font-weight: bold;
		background-color: #555555;
	}
	td:first-child {
		text-align: left;
		text-decoration: none;
	}
</style>
<div class = "Admin_Page">
	<h2 class='User_Header'>Welcome <%= @current_user.username%>!!!</h2>
	<p>
		List of all users
	</p>
	<table>
		<tr>
			<th>Username</th>
			<th>Email</th>
			<th>Consent Decision</th>
			<th>Current Page</th>
			<th>Date created</th>
			<th>Is Admin?</th>
			<th>Excel</th>
			<th>Delete</th>
		</tr>
		<% @users.each do | user | %>
		<tr>
			<td><%= user.username %></td>
			<td><%= user.email %></td>
			<td><%= user.accepted %></td>
			<td><%= user.current_page %></td>
			<td><%= user.created_at %></td>
			<td><%= user.is_admin %></td>
			<td><%= link_to "Download", download_xls_path( format: "xls", :id => user.id)  %></td>
			<% if user.is_admin %>
			<td><%= "" %></td>
			<% else %>
			<td><%= link_to "Delete" , delete_path(:id => user.id) ,  data: { confirm: "Are you sure?" }%></td>
			<% end%>
		</tr>
		<% end %>
	</table>
</div>