<% @page_title = "Alumni Survey | Demographics" -%>

<div class= "DemographicsPage">

	<h4> Please enter the below information - </h4>

	<%= form_for(:demographic, :html => {:id => 'demoForm'}, :url => {:controller => 'sessions', :action => 'demographic_response'}) do |f| %>
	<ol class="questions">
		<li>
			Gender : </br>
			<%= f.radio_button :gender , "Male" %> Male</br>
			<%= f.radio_button :gender , "Female" %> Female </br>
			<%= f.radio_button :gender , "Prefer not to say" %> Prefer not to say
		</li>
		<li>
			Race : </br>
			<table>
				<tr>
					<td><%= f.radio_button :race , "African american or black" %> African american or black</td>
					<td><%= f.radio_button :race , "Hispanic or Latino" %> Hispanic or Latino</td>
					<td><%= f.radio_button :race , "Asian" %> Asian</td>
				</tr>
				<tr>
					<td><%= f.radio_button :race , "Native American or Alaska Native" %> Native American or Alaska Native</td>

					<td><%= f.radio_button :race , "Native Hawaiian or Pacific Islander" %> Native Hawaiian or Pacific Islander</td>
					<td><%= f.radio_button :race , "White" %> White</td>
				</tr>
				<tr>
					<td><%= f.radio_button :race , "Multiracial" %> Multiracial</td>
					<td><%= f.radio_button :race , "Prefer not to say" %> Prefer not to say</td>
					<td><%= f.radio_button :race , "Other" %> Other <%= f.text_field :other_race, :id => 'other_race', disabled: true %></td>
				</tr>
			</table>
		</li>
		<li>
			How would you describe your religious preference? </br>
			<%= f.radio_button :religious , "Religious and affiliated" %> Religious, affiliated with an organized
			religion (i.e. Christian, Muslim, Jewish, Hindu, Buddhist, etc.)</br>
			<%= f.radio_button :religious , "Spiritual but not affiliated" %> Spiritual but not affiliated with an
			organized religion (i.e. Humanist, Agnostic, etc.)</br>
			<%= f.radio_button :religious , "Atheist" %> Atheist</br>
			<%= f.radio_button :religious , "Indifferent or not religious" %> Indifferent or not religious
		</li>
		<div id = 'ReligiousActiveDiv'>
			<li>
				How active do you consider yourself in the practice of your religious preference? </br>
				<%= f.radio_button :religious_active , "Very active" %> Very active</br>
				<%= f.radio_button :religious_active , "Somewhat active" %> Somewhat active</br>
				<%= f.radio_button :religious_active , "Not very active" %> Not very active</br>
				<%= f.radio_button :religious_active , "Not active" %> Not active</br>
				<%= f.radio_button :religious_active , "Does not apply/Prefer not to say" %> Does not apply/Prefer not to say
			</li>
		</div>
	</ol>
</div>

<%= f.submit "<< Back" , :name => 'back', class: "submit" %>
<%= f.submit "Continue >>", :name => 'next'  , class: "submit"  %>
<% end %>

</div>

<script>
	$(document).ready(function() {
		radioValueForReligious($("input[name='demographic[religious]']:radio:checked").val());

		function radioValueForReligious(value) {
			if (value == "Religious and affiliated")
				document.getElementById("ReligiousActiveDiv").style.display = "block";
			else
				document.getElementById("ReligiousActiveDiv").style.display = "none";
		}

		if (document.getElementById("other_race").value != "") {
			document.getElementById("other_race").disabled = false;
		}

		$("input[name='demographic[race]']").click(function() {
			if (this.id == 'demographic_race_other')
				document.getElementById("other_race").disabled = false;
			else {
				document.getElementById("other_race").value = "";
				document.getElementById("other_race").disabled = true;
			}
		});
		$("input[name='next']").click(function(e) {
			var noneFilled = checkFields($(this.form));
			if (noneFilled) {
				alert('Please fill atleast one field to proceed');
				e.preventDefault();
			}
		});

		$("input[name='demographic[religious]']").click(function() {
			if (this.id == 'demographic_religious_religious_and_affiliated')
				document.getElementById("ReligiousActiveDiv").style.display = "block";
			else
				document.getElementById("ReligiousActiveDiv").style.display = "none";
		});
	});

	function checkFields(form) {
		var checks_radios = form.find(':radio');
		var checked = checks_radios.filter(':checked');
		if (checked.length === 0) {
			return true;
		}
		return false;
	}
</script>