<% @page_title = "Alumni Survey | Demographics" -%> 

<h3 class = "User_Header"> Demographics  : <%= @current_user.username%></h3>
<div class= "DemographicsPage">

	<p>
		Please enter the below information -
	</p>

	<%= form_for(:demographic, :url => {:controller => 'sessions', :action => 'demographic_response'}) do |f| %>
	<ol class="questions">
		<li>
			Gender : </br>
			<%= f.radio_button :gender , "Male" %> Male
			<%= f.radio_button :gender , "Female" %> Female
			<%= f.radio_button :gender , "Prefer not to say" %> Prefer not to say
		</li>
		<li>
			Race : </br>
			<table>
				<tr>
					<td><%= f.radio_button :race , "African american or black" %> African american or black</td>
					<td><%= f.radio_button :race , "Hispanic or Latino" %> Hispanic or Latino</td>
					<td><%= f.radio_button :race , "Asian" %> Asian</td>
				</tr>
				<tr>
					<td><%= f.radio_button :race , "Native American or Alaska Native" %> Native American or Alaska Native</td>

					<td><%= f.radio_button :race , "Native Hawaiian or Pacific Islander" %> Native Hawaiian or Pacific Islander</td>
					<td><%= f.radio_button :race , "White" %> White</td>
				</tr>
				<tr>
					<td><%= f.radio_button :race , "Multiracial" %> Multiracial</td>
					<td><%= f.radio_button :race , "Prefer not to say" %> Prefer not to say</td>
					<td><%= f.radio_button :race , "Other" %> Other <%= f.text_field :other_race, :id => 'other_race', disabled: true %></td>
				</tr>
			</table>
		</li>
		<li>
			How would you describe your religious preference? </br>
			<table>
				<tr>
					<td><%= f.radio_button :religious , "Religious and affiliated" %> Religious, affiliated with an organized religion (i.e. Christian, Muslim, Jewish, Hindu, Buddhist, etc.)</td>
					<td><%= f.radio_button :religious , "Spiritual but not affiliated" %> Spiritual but not affiliated with an organized religion (i.e. Humanist, Agnostic, etc.)</td>
				</tr>
				<tr>
					<td><%= f.radio_button :religious , "Atheist" %> Atheist</td>
					<td><%= f.radio_button :religious , "Indifferent or not religious" %> Indifferent or not religious</td>
				</tr>
			</table>
		</li>
		<li>
			How active do you consider yourself in the practice of your religious preference? </br>
			<%= f.radio_button :religious_active , "Very active" %> Very active
			<%= f.radio_button :religious_active , "Somewhat active" %> Somewhat active
			<%= f.radio_button :religious_active , "Not very active" %> Not very active
			<%= f.radio_button :religious_active , "Not active" %> Not active
			<%= f.radio_button :religious_active , "Does not apply/Prefer not to say" %> Does not apply/Prefer not to say
		</li>
	</ol>
</div>

<%= f.submit "<< Back" , :name => 'back', class: "submit" %>
<%= f.submit "Continue >>"  , class: "submit"  %>
<% end %>

</div>

<script>
	$(document).ready(function() {
		$("input[name='demographic[race]']").click(function() {
			if (this.id == 'demographic_race_other')
				document.getElementById("other_race").disabled = false;
			else {
				document.getElementById("other_race").value = "";
				document.getElementById("other_race").disabled = true;
			}
		});
	}); 
</script>