<% @page_title = "Alumni Survey | Login" -%>
<div class= "Sign_Form">
	<h1>Log in</h1>
	<%= form_tag(:action => 'login_attempt') do %>
	<p>Username or Email:</br> <%= text_field_tag(:username_or_email) %></p>
	<p>Password:</br> <%= password_field_tag :login_password %></p>
	<%= check_box_tag :remember_me, 1, params[:remember_me] %>
  	<%= label_tag :remember_me %>
	<ul class="nav">
		<li><%= link_to "Signup" , :signup, class: "nav_links"%></li> |
		<li><%= link_to "Forgot Password" , :new_password_reset , class: "nav_links"%></li> |
		<li><%= link_to "Sign in as guest" , :login, class: "nav_links"%></li>
	</ul>
	<%= submit_tag("Log In") %>
	<% end %>
</div>