<% @page_title = "Alumni Survey | Ed Bg" -%> <h2 class='User_Header'><%= @current_user.username%></h2>
<div class= "Ed_Bg">
	<%= form_tag(:action => 'trigger_startdate') do %>
	<ol class="questions">
		<li>
			<p>
				When did you finish your undergraduate degree?
				<br>
				<%= date_select("user", "undergrad_end", start_year: 1995, end_year: Date.current.year, discard_day: true) %>
			</p>
		</li>
		<li>
		<p>
				What was your primary major?:
				<%= select_tag "major", options_for_select([ "Aerospace", "Architectural", "Biological/Biomedical",
				"Biomechanical","Chemical","Chem/Bio","Civil","Computer/Computer Science/ Software","Construction Management",
				"Electrical","Environmental","Mechanical","Math or Natural Science related","Humanities or social science related",
				"Other" ]), :onClick => "updateActivity(this)"%></br>
				If other, Please specify : <%= text_field_tag 'other_major', '', disabled: true %>
			</p>
		</li>
		<li>
			<p>
				How would you classify your institution? (1: Bad, 10: Excellent)</br>
				<%= radio_button_tag(:decision , "1") %> <%= label_tag(:decision_1 , "1")%>
				<%= radio_button_tag(:decision , "2") %> <%= label_tag(:decision_2 , "2")%>
				<%= radio_button_tag(:decision , "3") %> <%= label_tag(:decision_1 , "3")%>
				<%= radio_button_tag(:decision , "4") %> <%= label_tag(:decision_2 , "4")%>
				<%= radio_button_tag(:decision , "5") %> <%= label_tag(:decision_1 , "5")%>
				<%= radio_button_tag(:decision , "6") %> <%= label_tag(:decision_2 , "6")%>
				<%= radio_button_tag(:decision , "7") %> <%= label_tag(:decision_1 , "7")%>
				<%= radio_button_tag(:decision , "8") %> <%= label_tag(:decision_2 , "8")%>
				<%= radio_button_tag(:decision , "9") %> <%= label_tag(:decision_1 , "9")%>
				<%= radio_button_tag(:decision , "10") %> <%= label_tag(:decision_2 , "10")%>
			</p>
		</li>
	</ol>
	<%= submit_tag("Continue>>") %>
	<% end %>
</div>
<script>
	function updateActivity(oSelect) {
		if (oSelect.options[oSelect.selectedIndex].value == 'Other') {
			document.getElementById("other_major").disabled = false;
		}
	}
</script>