<% @page_title = "Alumni Survey | Ed Bg" -%>

<h3>Please enter your educational background details:</h3>
<div class= "Ed_Bg">
	<%= form_for(:user,:html => { :id => "profileForm" },  :url => {:controller => 'sessions', :action => 'trigger_startdate'}) do |f| %>
	<ol class="questions">
		<li>
			<p>
				When did you finish your undergraduate degree?</br>
				<%= f.text_field :undergrad_end, :class => 'datepicker' %>
				<img src="/assets/question.png" class="tooltip" title="In case of date uncertainity, please select 1st of that month" />
			</p>
		</li>
		<li>
			<p>
				What was your primary major?:
				<%= f.select :undergrad_major, [ ["--Select One--",nil], "Aerospace", "Architectural", "Biological/Biomedical",
            "Biomechanical","Chemical","Chem/Bio","Civil","Computer/Computer Science/ Software","Construction Management",
            "Electrical","Environmental","Mechanical","Math or Natural Science related","Humanities or social science related",
            "Other" ]%></br>
				If other, Please specify : <%= f.text_field :other_undergrad_major, :id=> 'other_undergrad_major', :disabled => true %>
			</p>
		</li>
	</ol>

	<%= f.submit "Next >>", class: "submit" , :onClick => 'updateSubmit()'%>
	<% end %>
</div>
<script>
	$(document).ready(function() {

		if (document.getElementById("other_undergrad_major").value != "")
			document.getElementById("other_undergrad_major").disabled = false;

		$('.datepicker').datepicker({
			dateFormat : "yy-mm-dd",
			changeMonth : true,
			changeYear : true,
			minDate : -6010,
			yearRange : "-20:+0",
			maxDate : 'today'
		});

		$('#profileForm').submit(function(e) {
			if ($("input[name='user[undergrad_end]']").val() == "") {
				alert('Please enter valid undergrad finish date');
				e.preventDefault();
			}
			if ($("select[name='user[undergrad_major]'] option:selected").val() == "") {
				alert('Please enter your undergrad major subject');
				e.preventDefault();
			}
		});

		$('select').on('change', function() {
			if (this.value == 'Other')
				document.getElementById("other_undergrad_major").disabled = false;
			else {
				document.getElementById("other_undergrad_major").value = "";
				document.getElementById("other_undergrad_major").disabled = true;
			}
		});
	});

</script>