<% @page_title = "Alumni Survey | Ed Bg" -%> <h2 class='User_Header'><%= @current_user.username%></h2>
<div class= "Ed_Bg">
	<%= form_tag(:action => 'trigger_startdate') do %>
	<ol class="questions">
		<li>
			<p>
				When did you finish your undergraduate degree?
				<br>
				<%= date_select("user", "undergrad_end", start_year: 1995, end_year: Date.current.year, discard_day: true) %>
			</p>
		</li>
		<li>
		<p>
				What was your primary major?:
				<%= select_tag "major", options_for_select([ "Aerospace", "Architectural", "Biological/Biomedical",
				"Biomechanical","Chemical","Chem/Bio","Civil","Computer/Computer Science/ Software","Construction Management",
				"Electrical","Environmental","Mechanical","Math or Natural Science related","Humanities or social science related",
				"Other" ]), :onClick => "updateActivity(this)"%></br>
				If other, Please specify : <%= text_field_tag 'other_major', '', disabled: true %>
			</p>
		</li>
	</ol>
	<%= submit_tag("Continue>>") %>
	<% end %>
</div>
<script>
	function updateActivity(oSelect) {
		if (oSelect.options[oSelect.selectedIndex].value == 'Other') {
			document.getElementById("other_major").disabled = false;
		}
	}
</script>