<% @page_title = "Alumni Survey | Signup" %>
<div class="Sign_Form">
	<h3> Please fill in required details </h3>
	<%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
	<p>Username:</br> <%= f.text_field :username%></p>
	<p>Email:</br> <%= f.text_field :email, title: "This will help us mail you in case you forget your password"%></p>
	<p>Password:</br> <%= f.password_field :password%></p>
	<p>Password Confirmation:</br> <%= f.password_field :password_confirmation%></p>
	<p>
		<%= check_box_tag :remember_me, 1, params[:remember_me] %>
		<%= label_tag :remember_me %>
	</p>
	<%= f.submit :Signup %>
	<% end %>
	<% if @user.errors.any? %>
	<ul class="Signup_Errors">
		<% for message_error in @user.errors.full_messages %>
		<li>
			* <%= message_error %>
		</li>
		<% end %>
	</ul>
	<% end %>
</div>

<script type="text/javascript">
	$(function() {
    	$( document ).tooltip();    	
		$("input[type=submit]").button()
  	});
</script>